<div class="header">
  <ion-icon
    *ngIf="smallScreen"
    class="icon"
    name="menu-outline"
    (click)="toggleSidenav()"
  ></ion-icon>
  <ul *ngIf="!smallScreen">
    <div>
      <li>
        <a mat-button routerLink="/">Paint Catalogue</a>
      </li>
      <!-- <li>
        <a mat-button routerLink="/addPaint" routerLinkActive="mat-accent">
          Add new paint
        </a>
      </li> -->
      <li>
        <a
          mat-button
          [routerLink]="['user', username]"
          routerLinkActive="mat-accent"
        >
          Profile
        </a>
      </li>
      <li>
        <!-- <form>
          <mat-form-field class="filterInput">
            <mat-label>Search users</mat-label>
            <input
              matInput
              type="text"
              name="username"
              placeholder="Joe Doe..."
            />
          </mat-form-field>
        </form> -->
      </li>
    </div>
    <div>
      <li *ngIf="!isLoggedIn">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
          >Login</a
        >
      </li>
      <li *ngIf="!isLoggedIn">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
          >Signup</a
        >
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-button routerLinkActive="mat-accent" (click)="onLogout()">
          Logout
        </button>
      </li>
    </div>
  </ul>
</div>
