<div class="grid-col-12">
  <div class="profile-content">
    <router-outlet></router-outlet>
  </div>
  <div class="profile-navigation">
    <button
      *ngIf="isAuthorized"
      mat-button
      [routerLink]="[username]"
      routerLinkActive="mat-accent"
      routerLinkActive="active"
    >
      Your information
    </button>
    <button
      mat-button
      [routerLink]="['inventory', username]"
      routerLinkActive="mat-accent"
    >
      Inventory
    </button>
    <button
      mat-button
      [routerLink]="['wishlist', username]"
      routerLinkActive="mat-accent"
    >
      Wishlist
    </button>
  </div>
</div>
