<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <h1>Sign up</h1>
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        id="email"
        placeholder="E-mail"
        ngModel
        #emailInput="ngModel"
        required
        email
      />

      <mat-error *ngIf="emailInput.invalid"
        >Please enter the valid email</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        ngModel
        #passwordInput="ngModel"
        required
        password
      />

      <mat-error *ngIf="passwordInput.invalid"
        >Please enter the valid password</mat-error
      >
    </mat-form-field>

    <button *ngIf="!isLoading" color="accent" mat-raised-button type="submit">
      Sign Up
    </button>
  </form>
</mat-card>
