<mat-card>
  <form [formGroup]="signupForm">
    <h1>Sign up</h1>
    <mat-form-field>
      <mat-label> Login </mat-label>
      <input matInput type="text" formControlName="login" />
      <mat-error *ngIf="signupForm.controls['login'].invalid">
        Invalid Login
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Email </mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="signupForm.controls['email'].invalid">
        Invalid Email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Password </mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error *ngIf="signupForm.controls['newPassword'].invalid">
        Too short password
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Repeat Password </mat-label>
      <input matInput type="password" formControlName="repeatPassword" />
      <mat-error *ngIf="signupForm.errors?.['passwordMatchError']">
        Password missmatch
      </mat-error>
    </mat-form-field>

    <button
      [disabled]="signupForm.invalid"
      color="accent"
      mat-raised-button
      type="submit"
    >
      Signup
    </button>
  </form>
</mat-card>
