form {
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
  margin: auto;
}

.paint-content {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  line-height: 3rem;
  vertical-align: middle;
}

.paintDiv {
  background-color: rgba(174, 195, 176, 0.2);
  border-radius: 9px;
  min-width: 32rem;
  height: 6rem;
  padding: 0.8rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.paintDiv span {
  font-size: 1.6rem;
  justify-self: center;
  color: #01161e;
  padding: 0.6rem;
}

.paintDiv:empty {
  display: none;
}

button {
  background-color: transparent;
  border: none;
}

button:active {
  background-color: blue;
}

.icon-group {
  display: flex;
  gap: 0.8rem;
  line-height: 3rem;
  vertical-align: middle;
}
.icon {
  height: 2.5rem;
  width: 2.5rem;
  color: black;
  align-self: center;
}

.filterInput {
  width: 50rem;
  margin: auto;
}

@media only screen and (max-width: 1340px) {
  .filterInput {
    width: 80%;
  }
  .icon-group {
    gap: 2.8rem;
  }
  .icon {
    height: 3.2rem;
    width: 3.2rem;
  }
}

/* 
@media only screen and (max-width: 1015px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 660px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
} */
