<form>
  <mat-form-field>
    <mat-label>Nazwa farby</mat-label>
    <input
      matInput
      type="text"
      name="paintName"
      placeholder="Nazwa farby"
      [formControl]="paintName"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <!-- <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
        >{{ option }}</mat-option
      > -->
    </mat-autocomplete>
  </mat-form-field>
  <h2>Base</h2>
  <ul>
    <li *ngFor="let paint of filteredOptions | async">
      {{ paint.name }} | {{ paint.type }}
    </li>
  </ul>
</form>
