<mat-sidenav-container>
  <mat-sidenav #drawer class="drawer">
    <button (click)="drawer.toggle()">X</button>
    <ul>
      <div>
        <li>
          <a mat-button routerLink="/" (click)="drawer.toggle()"
            >Paint Catalogue</a
          >
        </li>
        <li>
          <a
            mat-button
            [routerLink]="['user', username]"
            (click)="drawer.toggle()"
            routerLinkActive="mat-accent"
          >
            Profile
          </a>
        </li>
      </div>
      <div>
        <li *ngIf="!isLoggedIn">
          <a
            mat-button
            routerLink="/auth/login"
            routerLinkActive="mat-accent"
            (click)="drawer.toggle()"
            >Login</a
          >
        </li>
        <li *ngIf="!isLoggedIn">
          <a
            mat-button
            routerLink="/auth/signup"
            routerLinkActive="mat-accent"
            (click)="drawer.toggle()"
            >Signup</a
          >
        </li>
        <li *ngIf="isLoggedIn">
          <button
            mat-button
            routerLinkActive="mat-accent"
            (click)="onLogout()"
            (click)="drawer.toggle()"
          >
            Logout
          </button>
        </li>
      </div>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
